<p-toast></p-toast>
<p-confirmDialog header="Confirmação" icon="pi pi-question-circle" acceptLabel="Sim" rejectLabel="Não"></p-confirmDialog>

<div class="container">
	<form autocomplete="off" (ngSubmit)="pesquisar()">
		<div class="ui-g">
			<div class="ui-g-12">
				<h1>Medico</h1>
			</div>
			<div class="ui-g-12 ui-fluid">
				<label>Nome</label>
				<input pInputText type="text" name="nome"  [(ngModel)]="nomeBusca">
			</div>
			<div class="ui-g-12">
				<button pButton type="submit" label="Pesquisar"></button>
			</div>
		</div>
	</form>

	<div class="ui-g">
		<p-table [value]="medicos" [paginator]="true" [rows]="5" [responsive]="true">
			<ng-template pTemplate="header" >
				<tr>
					<th class="col-id-header">Id</th>
					<th>Nome</th>
					<th class="col-acoes"></th>
				</tr>
			</ng-template>
		
			<ng-template pTemplate="body" let-med>
				<tr>
					<td class="col-id">{{med.id}}</td>
					<td>{{med.nome}}</td>
					<td class="col-acoes">
						<button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" showDelay="1000"  class="ui-button-info" [routerLink]="['/medicos',med.id]"></button>
						<button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top" showDelay="1000" class="ui-button-danger" (click)="confirmarExclusao(med)"></button>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="body" let-med>
				<tr>
					<td class="col-id">{{med.id}}</td>
					<td>{{med.nome}}</td>
					<td class="col-acoes">
						<button pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" showDelay="1000"  class="ui-button-info" [routerLink]="['/medicos',med.id]"></button>
						<button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top" showDelay="1000" class="ui-button-danger" (click)="confirmarExclusao(med)"></button>
					</td>
				</tr>
			</ng-template>
		</p-table>
	</div>
	<div class="ui-g-12">
		<a pButton routerLink="/medicos/novo">Novo Médico</a>
	</div>
</div>

