<!--
	<app-pacientes-cadastro></app-pacientes-cadastro>
	<app-pacientes-pesquisa></app-pacientes-pesquisa>
	<app-pacientes-pesquisa></app-cidades-cadastro>
-->

<p-sidebar [(visible)]="sibeBar">
	<div class="ui-g">
		<div class="ui-g-12-ui-fluid">
			<h1 class="boxButton">Menu</h1>
			<!-- <button type="button" (click)="sideBar = false" pButton label="Cidades" routerLink="/cidades" class="boxButton"></button> -->
			<button type="button" (click)="sideBar = false" pButton label="Pacientes" routerLink="/pacientes" class="boxButton"></button>
		</div>
	</div>
</p-sidebar>
<button type="button" (click)="sideBar = true" pButton icons="pi pi-bars" class="boxButton"></button><div class="ui-g">

<router-outlet></router-outlet>