<p-toast></p-toast>

<div class="container">

    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>Novo Médico</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Nome</label>
                <input pInputText type="text" name="nome" [(ngModel)]="medico.nome" #nome="ngModel" required minlength="3">
                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Sexo</label>
              <p-dropdown [options]="sexos"
                [(ngModel)]="medico.sexo.id"
                name="sexo" [filter]="true">
              </p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-9 ui-fluid">
                <p-pickList [source]="especialidades" [target]="medico.especialidades" sourceHeader="Especialidades" targetHeader="Selecionadas"
                [responsive]="true" [dragdrop]="true" [showSourceControls]="false" [showTargetControls]="false">
                <ng-template let-esp pTemplate="item">
                  <div class="ui-helper-clearfix">
                    <div class="nomeEspecialidade">{{esp.descricao}}</div>
                  </div>
                </ng-template>
              </p-pickList>
              </div>

            <div class="ui-g-12">
              <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
              <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" routerLink="/medicos/novo"></button>
            </div>
        </div>
    </form>

</div>