<p-toast></p-toast>

<div class="container">

    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>Nova Receita</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Médico</label>
              <p-dropdown [options]="medicos"
                [(ngModel)]="medico.id"
                name="medico" [filter]="true">
              </p-dropdown>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Paciente</label>
              <p-dropdown [options]="pacientes"
                [(ngModel)]="paciente.id"
                name="paciente" [filter]="true">
              </p-dropdown>
            </div>

            <!-- <div class="ui-g-12 ui-md-9 ui-fluid">
                <p-pickList [source]="especialidades" [target]="receita.especialidades" sourceHeader="Especialidades" targetHeader="Selecionadas"
                [responsive]="true" [dragdrop]="true" [showSourceControls]="false" [showTargetControls]="false">
                <ng-template let-esp pTemplate="item">
                  <div class="ui-helper-clearfix">
                    <div class="nomeEspecialidade">{{esp.descricao}}</div>
                  </div>
                </ng-template>
              </p-pickList>
            </div> -->

            <div class="ui-g-12">
              <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
              <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" routerLink="/medicos/novo"></button>
            </div>
        </div>
    </form>

</div>